In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

#Загрузка и знакомство с данными
Для работы вам понадобятся предобработанные данные нашего учебного конкурса на kaggle «Прогноз популярности статьи на Хабре». Скачайте данные соревнования (данные были удалены с Kaggle ради организации последующего идентичного соревнования, так что тут ссылка на Google Drive).

In [9]:
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [10]:
df = pd.read_csv("/content/drive/MyDrive/data/howpop_train.csv")

In [11]:
df.shape

(134137, 17)

In [12]:
df.head(3).T

                                                               0  ...                                                  2
url                             https://habrahabr.ru/post/18284/  ...                   https://habrahabr.ru/post/18286/
domain                                              habrahabr.ru  ...                                       habrahabr.ru
post_id                                                    18284  ...                                              18286
published                                    2008-01-01 18:19:00  ...                                2008-01-01 18:34:00
author                                                    @Tapac  ...                                         @DezmASter
flow                                                     develop  ...                                             design
polling                                                    False  ...                                              False
content_len                                                 4305  ...                                               8431
title             Новогодний подарок блоггерам — WordPress 2.3.2  ...  Сумасшедшие яйца, или сервис для отслеживания ...
comments                                                       0  ...                                                 47
favs                                                           0  ...                                                 72
views                                                        236  ...                                               1200
votes_plus                                                     0  ...                                                 45
votes_minus                                                    0  ...                                                  5
views_lognorm                                          -0.792687  ...                                            0.44609
favs_lognorm                                            -1.34407  ...                                            1.79402
comments_lognorm                                        -2.43687  ...                                           0.574656

[17 rows x 3 columns]


Избавимся сразу от переменных, названия которых заканчиваются на _lognorm (нужны для соревнования на Kaggle). Выберем их с помощью filter() и удалим drop-ом:

In [13]:
df.drop(
    filter(lambda c: c.endswith("_lognorm"), df.columns),
    axis=1,  # axis = 1: столбцы
    inplace=True,
)  # избавляет от необходимости сохранять датасет

In [14]:
df.describe().T

                count           mean  ...       75%        max
post_id      134137.0  181307.054265  ...  257401.0   314088.0
content_len  134137.0    7516.929699  ...    9858.0   352471.0
comments     134137.0      39.625994  ...      48.0     2266.0
favs         134137.0      71.999866  ...      78.0     8718.0
views        134137.0   16631.013084  ...   18700.0  1730000.0
votes_plus   133566.0      35.536888  ...      45.0     1466.0
votes_minus  133566.0       8.050035  ...      10.0      445.0

[7 rows x 8 columns]

In [15]:
df.describe(include=["object", "bool"]).T  # бинарные и категориальные переменные

            count  ...    freq
url        134137  ...       1
domain     134137  ...   97048
published  134137  ...      39
author      97657  ...    5292
flow        97048  ...   53318
polling    134137  ...  129412
title      134137  ...      56

[7 rows x 4 columns]

In [16]:
# настройка внешнего вида графиков в seaborn
sns.set_style("dark")
sns.set_palette("RdBu")
sns.set_context(
    "notebook", font_scale=1.5, rc={"figure.figsize": (15, 5), "axes.titlesize": 18}
)


Столбец published (время публикации) содержит строки. Чтобы мы могли работать с этими данными как с датой/временем публикации, приведём их к типу datetime:

In [17]:
print(df.published.dtype)
df["published"] = pd.to_datetime(df.published, yearfirst=True)
print(df.published.dtype)

object
datetime64[ns]


Создадим несколько столбцов на основе данных о времени публикации:

In [18]:
df["year"] = [d.year for d in df.published]
df["month"] = [d.month for d in df.published]

df["dayofweek"] = [d.isoweekday() for d in df.published]
df["hour"] = [d.hour for d in df.published]


#1. В каком месяце (и какого года) было больше всего публикаций?
* март 2016
* март 2015
* апрель 2015
* апрель 2016

#2. Проанализируйте публикации в месяце из предыдущего вопроса
Выберите один или несколько вариантов:

* Один или несколько дней сильно выделяются из общей картины
* На хабре всегда больше статей, чем на гиктаймсе
* По субботам на гиктаймс и на хабрахабр публикуют примерно одинаковое число статей


Подсказки: постройте график зависимости числа публикаций от дня; используйте параметр hue; не заморачивайтесь сильно с ответами и не ищите скрытого смысла :)

#3. Когда лучше всего публиковать статью?
* Больше всего просмотров набирают статьи, опубликованные в 12 часов дня
* У опубликованных в 10 утра постов больше всего комментариев
* Больше всего просмотров набирают статьи, опубликованные в 6 часов утра
* Максимальное число комментариев на гиктаймсе набрала статья, опубликованная в 9 часов вечера
* На хабре дневные статьи комментируют чаще, чем вечерние

#4. Кого из топ-20 авторов чаще всего минусуют?
* @Mordatyj
* @Mithgol
* @alizar
* @ilya42

#5. Сравните субботы и понедельники
Правда ли, что по субботам авторы пишут в основном днём, а по понедельникам — в основном вечером?