<a href="https://colab.research.google.com/github/IVIo3e/Fundamental-concepts-of-AI/blob/main/assignment02_habr_visual_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

#Загрузка и знакомство с данными
Для работы вам понадобятся предобработанные данные нашего учебного конкурса на kaggle «Прогноз популярности статьи на Хабре». Скачайте данные соревнования (данные были удалены с Kaggle ради организации последующего идентичного соревнования, так что тут ссылка на Google Drive).

In [2]:
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/data/howpop_train.csv")

In [4]:
df.shape

(134137, 17)

In [5]:
df.head(3).T

                                                               0  ...                                                  2
url                             https://habrahabr.ru/post/18284/  ...                   https://habrahabr.ru/post/18286/
domain                                              habrahabr.ru  ...                                       habrahabr.ru
post_id                                                    18284  ...                                              18286
published                                    2008-01-01 18:19:00  ...                                2008-01-01 18:34:00
author                                                    @Tapac  ...                                         @DezmASter
flow                                                     develop  ...                                             design
polling                                                    False  ...                                              False
content_len                                                 4305  ...                                               8431
title             Новогодний подарок блоггерам — WordPress 2.3.2  ...  Сумасшедшие яйца, или сервис для отслеживания ...
comments                                                       0  ...                                                 47
favs                                                           0  ...                                                 72
views                                                        236  ...                                               1200
votes_plus                                                     0  ...                                                 45
votes_minus                                                    0  ...                                                  5
views_lognorm                                          -0.792687  ...                                            0.44609
favs_lognorm                                            -1.34407  ...                                            1.79402
comments_lognorm                                        -2.43687  ...                                           0.574656

[17 rows x 3 columns]


Избавимся сразу от переменных, названия которых заканчиваются на _lognorm (нужны для соревнования на Kaggle). Выберем их с помощью filter() и удалим drop-ом:

In [6]:
df.drop(
    filter(lambda c: c.endswith("_lognorm"), df.columns),
    axis=1,  # axis = 1: столбцы
    inplace=True,
)  # избавляет от необходимости сохранять датасет

In [7]:
df.describe().T

                count           mean  ...       75%        max
post_id      134137.0  181307.054265  ...  257401.0   314088.0
content_len  134137.0    7516.929699  ...    9858.0   352471.0
comments     134137.0      39.625994  ...      48.0     2266.0
favs         134137.0      71.999866  ...      78.0     8718.0
views        134137.0   16631.013084  ...   18700.0  1730000.0
votes_plus   133566.0      35.536888  ...      45.0     1466.0
votes_minus  133566.0       8.050035  ...      10.0      445.0

[7 rows x 8 columns]

In [8]:
df.describe(include=["object", "bool"]).T  # бинарные и категориальные переменные

            count  unique                                          top    freq
url        134137  134137            https://habrahabr.ru/post/162115/       1
domain     134137       2                                 habrahabr.ru   97048
published  134137  130291                          2011-06-14 15:52:00      39
author      97657   22077                                      @alizar    5292
flow        97048       6                                      develop   53318
polling    134137       2                                        False  129412
title      134137  133628  Интересные события, произошедшие в выходные      56

In [9]:
# настройка внешнего вида графиков в seaborn
sns.set_style("dark")
sns.set_palette("RdBu")
sns.set_context(
    "notebook", font_scale=1.5, rc={"figure.figsize": (15, 5), "axes.titlesize": 18}
)


Столбец published (время публикации) содержит строки. Чтобы мы могли работать с этими данными как с датой/временем публикации, приведём их к типу datetime:

In [10]:
print(df.published.dtype)
df["published"] = pd.to_datetime(df.published, yearfirst=True)
print(df.published.dtype)

object
datetime64[ns]


Создадим несколько столбцов на основе данных о времени публикации:

In [11]:
df["year"] = [d.year for d in df.published]
df["month"] = [d.month for d in df.published]

df["dayofweek"] = [d.isoweekday() for d in df.published]
df["hour"] = [d.hour for d in df.published]


#1. В каком месяце (и какого года) было больше всего публикаций?
* март 2016
* март 2015
* апрель 2015
* апрель 2016

In [13]:
a = [df[(df['month'] == 3) & (df['year'] == 2016)].shape[0],
     df[(df['month'] == 3) & (df['year'] == 2015)].shape[0],
     df[(df['month'] == 4) & (df['year'] == 2015)].shape[0],
     df[(df['month'] == 4) & (df['year'] == 2016)].shape[0]]

In [23]:
a.index(max(a))+1

2

Ответ -> март 2015

#2. Проанализируйте публикации в месяце из предыдущего вопроса
Выберите один или несколько вариантов:

* Один или несколько дней сильно выделяются из общей картины
* На хабре всегда больше статей, чем на гиктаймсе
* По субботам на гиктаймс и на хабрахабр публикуют примерно одинаковое число статей


Подсказки: постройте график зависимости числа публикаций от дня; используйте параметр hue; не заморачивайтесь сильно с ответами и не ищите скрытого смысла :)

In [28]:
df[(df['month'] == 3) & (df['year'] == 2015)].groupby('dayofweek').mean()

                 post_id   polling   content_len  ...    year  month       hour
dayofweek                                         ...
1          257969.285354  0.025253   8284.022727  ...  2015.0    3.0  14.083333
2          257843.919517  0.060362   7773.134809  ...  2015.0    3.0  13.424547
3          257453.132597  0.044199   7947.071823  ...  2015.0    3.0  13.439227
4          257189.491379  0.045977   8131.589080  ...  2015.0    3.0  13.298851
5          257781.523810  0.092063   8380.158730  ...  2015.0    3.0  13.041270
6          255570.860870  0.034783   7008.591304  ...  2015.0    3.0  14.617391
7          255507.820513  0.076923  11245.846154  ...  2015.0    3.0  15.320513

[7 rows x 11 columns]

#3. Когда лучше всего публиковать статью?
* Больше всего просмотров набирают статьи, опубликованные в 12 часов дня
* У опубликованных в 10 утра постов больше всего комментариев
* Больше всего просмотров набирают статьи, опубликованные в 6 часов утра
* Максимальное число комментариев на гиктаймсе набрала статья, опубликованная в 9 часов вечера
* На хабре дневные статьи комментируют чаще, чем вечерние

In [30]:
df.groupby('hour').mean()

            post_id   polling  content_len  ...         year     month  dayofweek
hour                                        ...
0     168120.628831  0.036529  6824.571218  ...  2012.199314  6.410395   3.837460
1     162485.714830  0.035567  6857.822801  ...  2012.036520  6.397904   3.808828
2     163583.386444  0.042254  7036.796215  ...  2012.078785  6.309859   3.805458
3     160226.364570  0.053273  7191.890886  ...  2011.909499  6.530809   3.867137
4     157350.988182  0.045455  8080.478182  ...  2011.903636  6.367273   3.732727
5     159812.991774  0.034078  8277.351351  ...  2011.981199  6.613396   3.796710
6     176417.841603  0.044847  9173.211832  ...  2012.504771  6.400763   3.383588
7     180619.888039  0.051460  8614.956885  ...  2012.566064  6.598748   3.355355
8     190074.404762  0.048810  8509.013889  ...  2012.866270  6.593651   3.248810
9     194318.933157  0.042185  8987.338496  ...  2012.996332  6.558590   3.123089
10    197232.860543  0.040750  8636.212031  ...  2013.049159  6.566624   3.161578
11    194682.159065  0.033262  8346.787063  ...  2012.987858  6.597490   3.184165
12    190246.544149  0.033123  7580.780218  ...  2012.862659  6.577637   3.241834
13    185812.737646  0.032392  7423.223153  ...  2012.718966  6.590963   3.322168
14    181744.726916  0.033741  7210.584018  ...  2012.607819  6.583063   3.352418
15    179478.972168  0.029194  7165.069288  ...  2012.532698  6.539023   3.396458
16    180704.757579  0.029574  7362.942230  ...  2012.563600  6.585542   3.372589
17    178283.145730  0.031087  7295.351439  ...  2012.500058  6.524789   3.433838
18    179738.460107  0.031325  7252.055556  ...  2012.514993  6.505355   3.426640
19    176352.288316  0.034972  7230.538276  ...  2012.428687  6.509106   3.555842
20    173959.046215  0.038037  6861.913275  ...  2012.382084  6.422404   3.616014
21    173026.107128  0.034374  7030.912273  ...  2012.336778  6.398566   3.683678
22    171904.423167  0.042721  7227.972370  ...  2012.312434  6.279490   3.738151
23    172932.208413  0.039291  6831.373692  ...  2012.341448  6.308563   3.729660

[24 rows x 11 columns]

In [32]:
df[df['comments'] == max(df['comments'])]

                                     url        domain  ...  dayofweek hour
38763  https://geektimes.ru/post/123157/  geektimes.ru  ...          5    2

[1 rows x 18 columns]

In [38]:
sum(df[(df['hour'] >= 6) | (df['hour'] < 18)]['comments']) / 12

442942.6666666667

In [39]:
sum(df[(df['hour'] < 6) | (df['hour'] >= 18)]['comments']) / 12

174821.08333333334

#4. Кого из топ-20 авторов чаще всего минусуют?
* @Mordatyj
* @Mithgol
* @alizar
* @ilya42

In [44]:
author = ["@Mordatyj", "@Mithgol", 
          "@alizar" ,"@ilya42"]

In [51]:
df[df["author"].isin(author)].groupby("author").mean()

                 post_id   polling  content_len  ...     month  dayofweek       hour
author                                           ...
@Mithgol   129791.894643  0.037500  3105.428571  ...  6.053571   3.573214  12.810714
@Mordatyj   65844.782051  0.000000  1199.426740  ...  6.457875   2.805861  13.934066
@alizar    171891.636810  0.012661  2906.113190  ...  6.436886   3.486395  13.962963
@ilya42    182192.787109  0.003906  3214.958984  ...  6.466797   3.656250  16.460938

[4 rows x 12 columns]

#5. Сравните субботы и понедельники
Правда ли, что по субботам авторы пишут в основном днём, а по понедельникам — в основном вечером?

понедельник

In [67]:
df[(df["dayofweek"] == 1) & ((df['hour'] < 6) | (df['hour'] >= 18))].shape #вечер

(7505, 18)

In [68]:
df[(df["dayofweek"] == 1) & ((df['hour'] >= 6) | (df['hour'] < 18))].shape

(23636, 18)

суббота

In [69]:
df[(df["dayofweek"] == 6) & ((df['hour'] < 6) | (df['hour'] >= 18))].shape #вечер

(4318, 18)

In [70]:
df[(df["dayofweek"] == 6) & ((df['hour'] >= 6) | (df['hour'] < 18))].shape

(8380, 18)