In [1]:
import pandas as pd

In [86]:
data = pd.read_csv("https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv")
data.head(10)

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K
5   37           Private  284582  ...             40   United-States  <=50K
6   49           Private  160187  ...             16         Jamaica  <=50K
7   52  Self-emp-not-inc  209642  ...             45   United-States   >50K
8   31           Private   45781  ...             50   United-States   >50K
9   42           Private  159449  ...             40   United-States   >50K

[10 rows x 15 columns]

1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [20]:
male, female = data[data["sex"] == "Male"].shape[0], data[data["sex"] == "Female"].shape[0]

print(f"Мужчин в наборе данных - {male}\nЖенщины в наборе данных - {female}")

Мужчин в наборе данных - 21790
Женщины в наборе данных - 10771


2. Каков средний возраст (признак age) женщин?

In [27]:
average_age = sum(data[data["sex"] == "Female"]["age"]) / data[data["sex"] == "Female"].shape[0]

print(f"Средний возраст женщин в наборе данных - {average_age}")
print(f"Средний возраст женщин округленный до целого - {round(average_age)}")

Средний возраст женщин в наборе данных - 36.85823043357163
Средний возраст женщин округленный до целого - 37


3. Какова доля граждан Германии (признак native-country)?

In [143]:
data[data["native-country"] == "Germany"].shape[0] / data.shape[0] * 100

0.42074874850281013

5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [40]:
import math

In [57]:
average_age_50_more = sum(data[data["salary"] == ">50K"]["age"]) / data[data["salary"] == ">50K"].shape[0]

standard_deviations_50_more = (1 / data[data["salary"] == ">50K"].shape[0]) * math.sqrt(sum([(average_age - i) * (average_age - i) for i in data[data["salary"] == ">50K"]["age"]]))

average_age_50_less = sum(data[data["salary"] == "<=50K"]["age"]) / data[data["salary"] == "<=50K"].shape[0]

standard_deviations_50_less = (1 / data[data["salary"] == "<=50K"].shape[0]) * math.sqrt(sum([(average_age - i) * (average_age - i) for i in data[data["salary"] == "<=50K"]["age"]]))

print(f"Cредние значения возраста тех, кто получает более 50К в год - {average_age_50_more:.{3}}" +
      f"\nCреднеквадратичные отклонения возраста тех, кто получает более 50К в год - {standard_deviations_50_more:.{2}}"+
      f"\nCредние значения возраста тех, кто получает более 50К в год - {average_age_50_less:.{3}}" +
      f"\nCреднеквадратичные отклонения возраста тех, кто получает более 50К в год - {standard_deviations_50_less:.{2}}")

Cредние значения возраста тех, кто получает более 50К в год - 44.2
Cреднеквадратичные отклонения возраста тех, кто получает более 50К в год - 0.12
Cредние значения возраста тех, кто получает более 50К в год - 36.8
Cреднеквадратичные отклонения возраста тех, кто получает более 50К в год - 0.1


6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [82]:
education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]

data[(data["salary"] == ">50K")]["education"].isin(education)

7        False
8         True
9         True
10       False
11        True
         ...
32539     True
32545     True
32554     True
32557    False
32560    False
Name: education, Length: 7841, dtype: bool

7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [106]:
data.groupby("race").mean()

                          age         fnlwgt  ...  capital-loss  hours-per-week
race                                          ...
Amer-Indian-Eskimo  37.173633  120831.147910  ...     34.176849       40.048232
Asian-Pac-Islander  37.746872  159940.609240  ...     97.222329       40.127045
Black               37.767926  228013.124200  ...     60.385083       38.422855
Other               33.457565  197124.191882  ...     61.070111       39.468635
White               38.769881  187298.064280  ...     90.806155       40.689100

[5 rows x 6 columns]

In [107]:
data[data["race"] == "Amer-Indian-Eskimo"].describe()

              age         fnlwgt  ...  capital-loss  hours-per-week
count  311.000000     311.000000  ...    311.000000      311.000000
mean    37.173633  120831.147910  ...     34.176849       40.048232
std     12.447130   88338.636336  ...    245.583106       11.695364
min     17.000000   12285.000000  ...      0.000000        3.000000
25%     28.000000   35036.500000  ...      0.000000       40.000000
50%     35.000000  102541.000000  ...      0.000000       40.000000
75%     45.500000  176142.000000  ...      0.000000       40.000000
max     82.000000  445168.000000  ...   1980.000000       84.000000

[8 rows x 6 columns]

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [120]:
data.groupby("marital-status").mean()

                             age         fnlwgt  ...  capital-loss  hours-per-week
marital-status                                   ...
Divorced               43.041639  185802.790457  ...     64.600720       41.246680
Married-AF-spouse      32.478261  188165.565217  ...      0.000000       41.130435
Married-civ-spouse     43.247596  186763.172877  ...    122.439103       43.284856
Married-spouse-absent  40.578947  193141.760766  ...     57.779904       39.669856
Never-married          28.150988  195383.308996  ...     52.345502       36.939998
Separated              39.354146  206444.325854  ...     58.110244       39.301463
Widowed                58.975831  174159.042296  ...     79.666667       32.979859

[7 rows x 6 columns]

In [128]:
married = ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]
not_married = ["Divorced", "Never-married", "Separated", "Widowed"]

married_count = data[(data["sex"] == "Male") & (data["marital-status"].isin(married))].shape[0]
not_married_count = data[(data["sex"] == "Male") & (data["marital-status"].isin(not_married))].shape[0]

married_count_50K_more = data[(data["sex"] == "Male") & (data["marital-status"].isin(married)) & (data["salary"] == ">50K")].shape[0]
not_married_count_50K_more = data[(data["sex"] == "Male") & (data["marital-status"].isin(not_married)) & (data["salary"] == ">50K")].shape[0]

print(f"Доля женатых, зарабатывающих более 50К - {married_count_50K_more / married_count :.{3}}" +
      f"\nДоля холостых, зарабатывающих более 50К - {not_married_count_50K_more / not_married_count :.{3}}")

Доля женатых, зарабатывающих более 50К - 0.441
Доля холостых, зарабатывающих более 50К - 0.0845


9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [142]:
max_hour = data["hours-per-week"].max()

people_count_max_hour_work = data[data["hours-per-week"] == max_hour].shape[0]

people_cmhw_more_50K = data[(data["hours-per-week"] == max_hour) & (data["salary"] == ">50K")].shape[0]

print(f"Максимальное число часов человек работает в неделю - {max_hour}" +
      f"\nЛюдей, работающих {max_hour} часов в неделю - {people_count_max_hour_work}" +
      f"\nПроцент людей зарабатываюзих много, среди людей работающих {max_hour} часов в неделю - {people_cmhw_more_50K / people_count_max_hour_work :.{3}}")

Максимальное число часов человек работает в неделю - 99
Людей, работающих 99 часов в неделю - 85
Процент людей зарабатываюзих много, среди людей работающих 99 часов в неделю - 0.294

10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [156]:
 data.groupby(["native-country", "salary"]).mean()

                             age         fnlwgt  ...  capital-loss  hours-per-week
native-country salary                            ...
?              <=50K   36.853547  195354.379863  ...     62.427918       40.164760
               >50K    44.328767  187154.513699  ...    285.397260       45.547945
Cambodia       <=50K   35.666667  167065.666667  ...    289.833333       41.416667
               >50K    41.428571  237677.000000  ...      0.000000       40.000000
Canada         <=50K   41.012195  169279.585366  ...    145.524390       37.914634
...                          ...            ...  ...           ...             ...
United-States  >50K    44.297169  187433.992330  ...    194.465207       45.505369
Vietnam        <=50K   33.951613  165028.725806  ...     94.338710       37.193548
               >50K    35.400000  141648.400000  ...      0.000000       39.200000
Yugoslavia     <=50K   38.000000  227306.800000  ...      0.000000       41.600000
               >50K    40.166667  197059.166667  ...      0.000000       49.500000

[82 rows x 6 columns]